scikit-learn==0.22.1
joblib==1.2.0
pandas==0.25.3
jieba==0.39
Flask==1.0.2
Flask-Cors==3.0.3
Flask-SocketIO==3.0.2
Flask-Assets==0.12
Flask-AutoIndex==0.6.2
spacy==2.2.3
textblob==0.15.2
gensim==3.8.1
xgboost==0.81
msgpack==0.6.2
pattern==3.6.0
snownlp==0.12.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm-2.2.5
https://github.com/howl-anderson/Chinese_models_for_SpaCy/releases/download/v2.0.5/zh_core_web_sm-2.0.5.tar.gz#egg=zh_core_web_sm-2.0.5
