numpy==1.15.3
pandas==0.23.4
jieba==0.39
scikit-learn==0.20.0
tqdm==4.28.1
Flask==1.0.2
Flask-Cors==3.0.3
Flask-SocketIO==3.0.2
eventlet==0.24.1
gunicorn==19.9.0
Flask-Assets==0.12
TextBlob==0.15.2
spacy==2.0.16
https://github.com/howl-anderson/Chinese_models_for_SpaCy/releases/download/v2.0.5/zh_core_web_sm-2.0.5.tar.gz#egg=zh_core_web_sm==2.0.5
