<form action="/" class="form pick-model">
    <div class="field">
        <label for="sel-fm" class="label">Feature Processing</label>
        <div class="control">
            <div class="select">
                <select name="fm" id="sel-fm">
                    {% for opt, opt_disp in fm_choices.items() %}
                    <option value="{{ opt }}" {% if fm==opt %} selected="selected" {% endif %}>{{
                        opt_disp }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dropdown is-right">
                <div class="dropdown-trigger">
                    <a class="button" aria-haspopup="true" aria-controls="dataset-help">
                        <span class="icon is-small">
                            <i class="fas fa-question" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="dropdown-menu" id="fm-help" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="info">
                                <p>Select how to build the features.</p>
                                <p>Models available are the best-performing ones for the correponding
                                 structure.</p>
                                <p>(SM): smaller vocabulary.<br>
                                   (200): 200 components.</p>
                                <p>For details, <a href="https://github.com/ktmud/fsauor2018/" target="_blank">click here</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="sel-clf" class="label">Base Classifier</label>
        <div class="control">
            <div class="select">
                <select name="clf" id="sel-clf">
                    {% for opt, opt_disp in clf_choices.items() %}
                    <option value="{{ opt }}" {% if clf==opt %} selected="selected" {% endif %}>{{
                        opt_disp }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="help-text">
        <p>Base Classifiers are fitted for each fine-grained category one by one.</p>
    </div>
</form>
<div class="model-performance">
</div>

<div class="chart loader-parent">
    <div class="section-loader">
        <i class="loader"></i>
    </div>
    <div class="mini-pager buttons are-small is-hidden">
        <button class="button is-small prev-seed" type="button">
            <span class="icon">
                <i class="fas fa-lg fa-angle-left"></i>
            </span>
        </button>
        <button class="button is-small next-seed" type="button">
            <span class="icon">
                <i class="fas fa-lg fa-angle-right"></i>
            </span>
        </button>
    </div>
    <svg class="bricks"></svg>
    <div class="section-footer">
        <div class="overall-sentiments">
            <svg class="overall-bars"></svg>
        </div>
        <div class="correct-count-info">
            <span class="correct-count">
                {% include "single/correct_count.jinja" %}
            </span>
        </div>
        <div class="overall-f1">
            <h5 class="badge">Overall F1</h5>
            <span class="overall-f1-score"></span>
        </div>
    </div>
</div>

<div class="help-text">
<p>
 <em>predict</em>: the predicted probablity (for LDA and Logistic Regression) or final labels of the sentiments.<br>
 <em>P</em>: the predicted sentiment labels. <br>
 <em>A</em>: the actual sentiment labels. <br>
 <em>global</em>: the global distribution of the labels in the selected dataset.</p>
 <em>F1</em>: F1 score of predictions on the selected dataset
 (either <span class="below-average">below average</span> or <span class="above-average">above average</span>).</p>
</div>
