<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Anatomy of a Restaurant Review</title>
    <link rel="stylesheet" href="css/bulma-flatly.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    {% assets filters="libsass", output="gen/style.css", "css/main.scss", depends="**/*.scss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <section class="section header">
        <div class="container  has-text-centered">
            <h1 class="title">
                <a href="/">
                    The Anatomy of a Restaurant Review
                    <span class="icon"><i class="fas fa-utensils"></i></span>
                </a>
            </h1>
            <p class="subtitle">Evaluating Supervised Classifiers for Fine-grained Sentiment Analysis</p>
        </div>
    </section>

    <section class="section" id="single-review">
        <div class="container">
        <div class="columns">
            <div class="column is-half">
                {% include "single/pick_review.jinja" %}
            </div>
            <div class="column is-half">
                {% include "single/pick_model.jinja" %}
            </div>
        </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content">
            <h5>Credit</h5>
            <p>This visualization is made for DS5500, Fall 2018 at Northeastern University, advised by Prof.
                <a href="https://www.ccis.northeastern.edu/people/cody-dunne/" target="_blank">Cody Dunne</a>.
                and <a href="https://www.ccis.northeastern.edu/people/ansel-maclaughlin/">Ansel MacLaughlin</a>.
            </p>
            <p class="credit">&copy 2018 Jianchao Yang, Shivayogi Biradar, Sharyu Deshmukh</p>
        </div>
    </footer>
    <script src="js/d3.v5.js"></script>
    <script type="module" src="js/main.js"></script>
</body>

</html>
