<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Anatomy of a Restaurant Review</title>
    <link rel="stylesheet" href="css/bulma-flatly.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    {% assets filters="libsass", output="gen/style.css", "css/main.scss", depends="**/*.scss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <section class="section header">
        <div class="container  has-text-centered">
            <h1 class="title">
                <a href="/">
                    The Anatomy of a Restaurant Review
                    <span class="icon"><i class="fas fa-utensils"></i></span>
                </a>
            </h1>
            <p class="subtitle">Supervized Machine Learning in Fine-grained Sentiment Analysis of Online Reviews</p>
            <p class="credit">DS5520, Fall 2018 // Northeastern University</p>
        </div>
    </section>

    <section class="section" id="single-review">
        <div class="container">
            <h2 class="title">Dissecting a Single Review</h2>
            {% include "single/pick_review.jinja" %}
            {% include "single/pick_model.jinja" %}
        </div>
    </section>

    {% assets output="gen/vendor.js", "js/d3.v5.js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="module" src="js/main.js"></script>
</body>

</html>
