@import 'common/base.scss';
@import 'single/single.scss';

@media screen and (min-width: 1088px) {
  .container {
      max-width: 1200px;
      width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
      width: auto;
  }
}

.mini-pager {
    position: absolute;
    right: 10px;
    top: 10px;
    .button:not(:last-child):not(.is-fullwidth) {
      margin-right: 3px;
    }
}

article.single-review {
  position: relative;
  min-height: 500px;
}

#dataset-help {
    width: 220px;
}

.correct-count-info {
  text-align: right;
  padding: 4px 10px;
  display: inline-block;
}

.chart {
  margin-bottom: 20px;

  .section-footer {
    padding-top: 10px;
    padding-left: 168px;
    color: gray;
  }
  .overall-sentiments {
    display: inline-block;
    text {
      fill: gray;
    }
  }

  .overall-bars {
    width: 170px;
    height: 34px;
    vertical-align: middle;
  }
}

.footer {
  font-size: 12px;
  background: none;
  padding: 1rem 2rem 4rem;
  line-height: 1em;
  margin-top: 3rem;
  p {
    margin: 0;
  }
}

.review-text {
  padding: 1px 0;
}

span.sentence {
  display: block;
  margin-right: 1px;
  padding: 3px 6px;
  border: 1px solid rgba(255,255,255,0);
  border-width: 0 1px;
  outline: 1px solid rgba(0,0,0,0);

  &::selection, ::selection {
    background: #d0f3ff;
    color: #003;
  }

  &:hover {
    outline-color: rgba(0,0,0,0.2);
  }

  &.active {
    border-color: #fff #3498db;
    border-style: solid;
    outline: none;
    &.is-first {
      border-radius: 3px 3px 0 0;
      border-top: 1px solid #3498db;
      margin-top: -1px;
    }
    &.is-last {
      border-radius: 0 0 3px 3px;
      border-bottom: 1px solid #3498db;
      box-shadow: 0 1px 0 rgba(0,0,0,0.1);
      margin-bottom: 1px;
      margin-bottom: -1px;
    }
    &.is-first.is-last {
      border-radius: 3px;
    }
  }
}


.brick-bars text {
  font-size: 13px;
}
