.hidden {
  display: none; }

.title strong {
  font-weight: 600; }

.loader-parent {
  position: relative; }

.section-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 6%;
  z-index: 1;
  display: none; }

.is-loading .section-loader {
  display: block; }

.section-loader .loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-left-color: #09caff;
  border-bottom-color: #09caff; }

.section.header {
  border-top: 2px solid #09caff;
  /* border-bottom: 1px dashed #09caff; */
  box-shadow: 0 3px 1px #eee; }

h1.title a {
  display: block;
  color: #333;
  padding: 20px;
  margin-top: -20px; }

.form .field {
  display: inline-block;
  margin: 10px; }

.form {
  margin: 0 -10px; }

#inp-seed {
  width: 8em; }

h2.title {
  font-size: 1.6em;
  border-left: 4px solid #09caff;
  padding-left: 0.5em; }

h2.title:not(.is-spaced) + .subtitle {
  margin-top: -0.5rem; }

h4.title {
  font-size: 1.12em; }

.form .filter-results {
  font-size: 0.9em;
  margin: 0 10px;
  color: darkgray; }

/* ------- Single Review Chart --------- */
article.single-review {
  margin-top: 20px; }

article.single-review blockquote {
  padding-left: 2em;
  position: relative;
  min-height: 3em;
  word-break: break-word;
  transition: all 0.3s;
  overflow: hidden; }

article.single-review blockquote:before {
  content: '\201C';
  font-family: arial;
  font-size: 50pt;
  position: absolute;
  left: 0;
  top: -20pt;
  color: #aaa; }

.folded article.single-review blockquote {
  height: 1.8em;
  min-height: 0;
  text-overflow: ellipsis;
  white-space: nowrap; }

.foldable {
  position: relative; }

.foldable .toggle {
  cursor: pointer; }

.foldable .toggle .icon {
  position: absolute;
  right: 30px;
  top: 15px;
  transition: all 0.3s; }

.foldable.folded .toggle .icon {
  transform: rotate(180deg); }

.review-text {
  transition: 0.5s all;
  overflow: hidden; }

p + p {
  margin-top: 0.8em; }

.instruction {
  font-size: 18px; }

.chart {
  min-height: 400px;
  background: #fafafa;
  text-align: center;
  padding: 20px;
  border-radius: 3px; }

.chart h3 {
  margin: 0 0 20px; }

svg {
  display: inline-block; }

.bricks {
  height: 621px;
  width: 800px; }

.bricks text {
  text-align: right; }

text {
  font-size: 14px; }

text.level1-label {
  font-weight: bold; }

text.title {
  font-size: 16px;
  font-weight: 600; }

path.line {
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round; }
