.hidden {
  display: none; }

.title strong {
  font-weight: 600; }

.loader-parent {
  position: relative; }

.section-header {
  position: relative;
  margin-bottom: 20px; }

.section-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 6%;
  z-index: 1;
  display: none; }

.is-loading .section-loader {
  display: block; }

.section-loader .loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-left-color: #09caff;
  border-bottom-color: #09caff; }

.section.header {
  border-top: 2px solid #09caff;
  box-shadow: 0 1px 1px #eee; }

h1.title a {
  display: block;
  color: #333;
  padding: 20px;
  margin-top: -20px; }

.form .field {
  display: inline-block;
  margin: 10px; }

.form {
  margin: 0 -10px; }

#inp-seed {
  width: 8em; }

h2.title {
  font-size: 1.6em;
  border-left: 4px solid #09caff;
  padding-left: 0.5em; }

h2.title:not(.is-spaced) + .subtitle {
  margin-top: -0.5rem; }

h4.title {
  font-size: 1.12em; }

.help-text {
  font-size: 0.9em;
  color: darkgray; }

.form .help-text {
  margin: 0 10px; }

p + p {
  margin-top: 0.8em; }

.instruction {
  font-size: 18px; }

/**
 * Single Review Chart
 */
article.single-review {
  margin-top: 20px;
  border-radius: 6px 6px 0 0;
  padding: 20px 0; }

article.single-review blockquote {
  padding-left: 2em;
  position: relative;
  min-height: 3em;
  word-break: break-word;
  transition: all 0.3s;
  overflow: hidden; }

article.single-review blockquote:before {
  content: '\201C';
  font-family: arial;
  font-size: 50pt;
  position: absolute;
  left: 0;
  color: #aaa;
  line-height: 1; }

.folded article.single-review blockquote {
  height: 1.8em;
  min-height: 0;
  text-overflow: ellipsis;
  white-space: nowrap; }

.foldable {
  position: relative; }

.foldable .toggle {
  cursor: pointer; }

.foldable .toggle .icon {
  position: absolute;
  right: 30px;
  top: 15px;
  transition: all 0.3s; }

.foldable.folded .toggle .icon {
  transform: rotate(180deg); }

.review-text {
  transition: 0.5s all;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.6em; }

.box .review-title {
  margin-top: -20px;
  padding-top: 20px; }

.positive {
  color: #1a9641; }

.negative {
  color: #d7191c; }

.neutral {
  color: #2c7bb6; }

.chart {
  min-height: 400px;
  background: #fafafa;
  padding: 20px 10px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 12px; }

.chart h3 {
  margin: 0 0 20px; }

svg {
  display: inline-block; }

.bricks {
  height: 621px;
  width: 800px; }

.bricks text {
  text-align: right; }

text {
  font-size: 13px; }

text.level1-label {
  font-weight: bold; }

text.title {
  font-size: 16px;
  font-weight: 600; }

path.line {
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round; }

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid lightgray;
  padding: 5px;
  opacity: 0;
  transition: 0.2s all ease-in;
  font-size: 12px;
  line-height: 1.4;
  z-index: -100; }

.tooltip.active {
  opacity: 1;
  z-index: 100; }

.tooltip b {
  font-weight: 600;
  display: inline-block;
  width: 4.5em;
  text-align: right; }

@media screen and (min-width: 1088px) {
  .container {
    max-width: 1200px;
    width: auto; } }

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: auto; } }

.mini-pager {
  position: absolute;
  right: 10px;
  top: 10px; }
  .mini-pager .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 3px; }

article.single-review {
  position: relative;
  min-height: 500px; }

#dataset-help {
  width: 220px; }

.correct-count-info {
  text-align: right;
  padding: 4px 10px;
  display: inline-block; }

.chart {
  margin-bottom: 20px; }
  .chart .section-footer {
    padding-top: 10px;
    padding-left: 143px;
    color: gray; }
  .chart .overall-sentiments {
    display: inline-block; }
    .chart .overall-sentiments text {
      fill: gray; }
  .chart .overall-bars {
    width: 170px;
    height: 34px;
    vertical-align: middle; }

.footer {
  font-size: 12px;
  background: none;
  padding: 1rem 2rem 4rem;
  line-height: 1em;
  margin-top: 3rem; }
  .footer p {
    margin: 0; }

.review-text {
  padding: 1px 0; }

span.sentence {
  display: block;
  margin-right: 1px;
  padding: 3px 6px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-width: 0 1px;
  outline: 1px solid rgba(0, 0, 0, 0); }
  span.sentence::selection, span.sentence ::selection {
    background: #d0f3ff;
    color: #003; }
  span.sentence:hover {
    outline-color: rgba(0, 0, 0, 0.2); }
  span.sentence.active {
    border-color: #fff #3498db;
    border-style: solid;
    outline: none; }
    span.sentence.active.is-first {
      border-radius: 3px 3px 0 0;
      border-top: 1px solid #3498db;
      margin-top: -1px; }
    span.sentence.active.is-last {
      border-radius: 0 0 3px 3px;
      border-bottom: 1px solid #3498db;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 1px;
      margin-bottom: -1px; }
    span.sentence.active.is-first.is-last {
      border-radius: 3px; }

.brick-bars text, .cat-score-title {
  font-size: 13px; }

div#fm-help {
  width: 250px; }

text.cat-score {
  font-size: 14px;
  fill: #666; }

.below-average {
  color: #f46d43; }

.above-average {
  color: #66bd63; }

.overall-f1 {
  position: absolute;
  right: 18px;
  bottom: 18px;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 2px 5px 0;
  height: 38px;
  text-align: center; }
  .overall-f1 h5 {
    font-size: 9px; }
  .overall-f1 .overall-f1-score {
    font-weight: 600; }
